@import "tailwindcss";
@import "tw-animate-css";

@layer theme, utilities, components;

@layer theme {
    @theme {
        /* ui */
        --text-ui-label-base: 0.875rem;
        --leading-ui-label-base: 1.25rem;

        /* marketing */
        --text-mark-h1: 2.75rem;
        --leading-mark-h1: 3.25rem;

        --text-mark-h2: 2.5rem;
        --leading-mark-h2: 3rem;

        --text-mark-h3: 2rem;
        --leading-mark-h3: 2.5rem;

        --text-mark-h4: 1.75rem;
        --leading-mark-h4: 2.25rem;

        --text-mark-h5: 1.5rem;
        --leading-mark-h5: 2rem;

        --text-mark-h6: 1.25rem;
        --leading-mark-h6: 1.75rem;

        --text-mark-body-lg: 1.125rem;
        --leading-mark-body-lg: 1.75rem;

        --text-mark-body-base: 1rem;
        --leading-mark-body-base: 1.5rem;

        --text-mark-label-base: 1rem;
        --leading-mark-label-base: 1.5rem;

        --text-mark-caption: 0.75rem;
        --leading-mark-caption: 1.5rem;
    }
}
